NEXT_PUBLIC_API_KEY=AIzaSyD8Xy7_dyxfZiELnM23Pw6eHiQ4_sePVGc
 NEXT_PUBLIC_AUTH_DOMAIN=graphiql-app-project-9e22e.firebaseapp.com
  PROJECT_ID=graphiql-app-project-9e22e
  STORAGE_BUCKET=graphiql-app-project-9e22e.appspot.com
  MESSAGING_SENDER_ID=869269762459
  APP_ID=1:869269762459:web:9ae191fe1dfbd4985df13e
  MEASUREMENT_ID=G-4BB3FXME1V