.list {
  padding: 0 20px 20px 20px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-height: 500px;
  overflow-y: auto;
}

.listItem {
  background-color: var(--bg-light-color);
  border-radius: 3px;
  padding: 5px 20px;
  display: flex;
  gap: 10px;
  color: var(--text-dark-color);
  cursor: pointer;
}
.listItem:hover {
  transform: translateX(-5px);
  transition: 1s all;
}
