.sectionDevelopers {
  display: flex;
  flex-direction: column;
}

.developers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.developer {
  width: 30%;
  min-height: 350px;
  border: 1px solid var(--bg-light-color);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.developerImage {
  border: 1px solid var(--bg-light-color);
  border-radius: 8px;
  object-fit: cover;
}

.developerName {
  font-weight: 700;
}

.developerPosition {
  font-style: italic;
}
