.container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  margin: 20px auto 20px auto;
  padding: 0 10px;
  gap: 20px;
}
.container section {
  width: 100%;
}
.container h3 {
  text-align: left;
  font-weight: 500;
  color: var(--text-dark-color);
}

.btnSend {
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 8px;
  color: var(--text-color);
  border: none;
}

.btnPrettify {
  padding: 5px;
  border-radius: 8px;
}

.card {
  min-height: 650px;
  border-radius: 5px;
  padding: 15px;
}

@media (hover: hover) {
  .btnSend:hover {
    background-color: var(--color-hover);
    transition: 1s all;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
