.content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  min-height: 600px;
  gap: 20px;
  justify-content: center;
}
.linksBlock {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 1.5em;
}
@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}
