.btn-send {
  background-color: var(--main-color);
  padding: 5px;
  border-radius: 8px;
  color: var(--text-color);
  border: none;
}
.btn-prettify {
  padding: 5px;
  border-radius: 8px;
}

.btn-send:hover {
  background-color: var(--color-hover);
  transition: 1s all;
}

.graphQL-container {
  display: flex;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  gap: 20px;
}
.graphQL-container h3 {
  text-align: left;
  font-weight: 500;
  color: var(--text-dark-color);
}
.card {
  max-width: 500px;
  min-height: 650px;
  padding: 15px;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .graphQL-container {
    flex-direction: column;
  }
}
