.header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-light-color);
  box-shadow: var(--header-shadow);
  transition:
    background-color 0.3s,
    height 0.3s;
}

.sticky {
  background-color: var(--bg-middle-color);
  height: 60px;
}

.lang {
  width: 50px;
  display: flex;
  align-items: center;
  color: var(--lang-color);
  gap: 5px;
}
