.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--bg-light-color);
  box-shadow: var(--header-shadow);
  z-index: 10;
  transition:
    background-color 0.3s ease,
    height 0.3s ease;
}

.sticky {
  background-color: var(--bg-middle-color);
  height: 60px;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  gap: 20px;
}

.menuLink {
  display: inline-block;
  padding: 8px;
  margin: 4px;
  background-color: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.userMenu {
  position: absolute;
  right: 5px;
  top: 5px;
}

.userMenuLink {
  display: flex;
  gap: 20px;
  background-color: var(--main-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@media (hover: hover) {
  .menuLink:hover {
    background-color: var(--color-hover);
    color: var(--text-color);
  }

  .userMenuLink:hover {
    background-color: var(--color-hover);
    color: var(--text-color);
  }
}
