.restClientContainer {
  margin: 20px auto 20px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.restClientContainer h3 {
  text-align: left;
  font-weight: 500;
  color: var(--text-dark-color);
}

@media screen and (max-width: 800px) {
  .restClientContainer {
    flex-direction: column;
  }
}
