.nav {
  display: flex;
  gap: 20px;
}

.menuLink {
  display: inline-block;
  padding: 8px;
  margin: 4px;
  background-color: var(--bg-menu-color);
  border-radius: 8px;
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@media (hover: hover) {
  .menuLink:hover {
    background-color: var(--color-hover);
    color: var(--text-color);
  }
}
